@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-VF.woff2") format("woff2-variations");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Italic-VF.woff2") format("woff2-variations");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: italic;
}
